/* Cart.css */
.cart-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 400px; /* Ajusta el ancho del carrito */
  background-color: #232F3E;
  box-shadow: -2px 0 5px rgba(0,0,0,0.2);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1000;
  overflow-y: auto; /* Agrega desplazamiento interno si el contenido es largo */
}
.cart-container h2 {
  color: #ffffff;
  background-color: #131921;
  padding: 16px;
  font-size: 19px;
  margin: 0;
  height: 60px;
  display: flex;
  align-items: center;
}

.cart-container.show {
  transform: translateX(0);
}

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: 999;
}

.cart-items {
  margin: 20px;
  background-color: #ffffff;
}

.cart-content {
  padding: 20px;
  height: 100%;
  overflow-y: auto;
  position: relative;
}

.cart-close {
  color: #ffffff;
  position: absolute;
  top: 12px;
  right: 10px;
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.cart-items {
  margin-bottom: 20px;
}

.cart-item {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 15px;
}
.product-title {
  color: #000000;
}

.cart-quantity {
 position: absolute;
  background-color: var(--bs-orange);
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 3px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 10px;
  margin-right: 10px;
  z-index: 1;
}

.item-data {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-img {
  cursor: pointer;
  margin-right: 10px;
}

.item-img img {
  width: 100px;
  height: 100px;
}

.update-quantity {
  background-color: var(--bs-orange);
  color: white;
  border: none;
  font-weight: 600;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.update-quantity.add {
  position: absolute;
  right: 110px;
}

.update-quantity.subtract {
  position: absolute;
  left: 120px;
}

.remove-product {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  top: 0;
  right: 0;
}

.trash-icon {
  color: gray;
}

.trash-icon:hover {
  color: red;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  margin-top: -15px;
  color: #ffffff;
  padding: 10px 50px;
  font-size: 18px;
  font-weight: 600;
}
.price-product-cart {
  margin-left: 200px;
  color: #000000;
}

.checkout-button {
  width: 100%;
  padding: 10px;
  background-color: var(--bs-warning);
  color: white;
  cursor: pointer;
  font-size: 16px;
}
.button-pay-container{
  padding: 20px;
}
.button-pay-container button {
  border-radius: 5px;
}
