/* ChangePassword.css */
.password-wrapper {
    position: relative;
}
.icon-x-login-email {
    right: 15px !important;
}

.show-password-icon {
    position: absolute;
    right: 10px; /* Ajusta según el espacio para el ícono de error */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.error-icon {
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    color: red;
}
.error-icon-login {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: red;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.error-border {
    border-color: red !important;
}

.error-icon-reset-password {
    position: absolute;
    right: 15px;
    top: 30%;
    transform: translateY(-50%);
    color: red;
}