.email:focus, .password:focus {
    box-shadow: none;
    border-color: orange;
}
.card-login-container {
    padding: 20px;
    margin-top: 65px;
}
.card-login {
    max-width: 500px; 
    margin: 3rem auto; 
    padding: 2rem;
  }
form button:hover {
    margin-bottom: 0.7px;
}
  