body{
    background-color: rgba(213, 217, 218, 0.1);
}
.nav-products .nav-link {
    color: white;  
}
.nav-products {
    display: flex;
    gap: 30px;
    background-color: #232F3E;
    justify-content: center;
    align-items: center;
}
.nav-products .nav-link:hover {
  color: var(--bs-warning) !important;
}
.cards img{
    padding: 10px;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mt-3{
    width: 500px;
}
.horizontal-slider {
    width: 80% !important;
}
.container__cards {
    margin: 15px 25px;
    height: 450px;
}
.card__body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    text-align: center;
}
.bu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 20px;
}
.bu button{
    width: 83.91px;
}
.card {
   --bs-card-title-spacer-y: none;
}
.h5 {
    font-size: 1.18rem;
}
.search-products:focus, 
.min-price:focus, 
.max-price:focus {
    box-shadow: none;
    border-color: orange;
}
.container-alert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
  }
  .image-alert {
    width: 50% !important;
    margin-bottom: 20px; /* Espacio entre la imagen y el texto */
  }
  .text-alert {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
  }