.container-product{
    margin-top: 65px;
    padding-top: 1px;
}
.my-5{
    background-color: white;
}
.card .carousel-indicators{
    margin-bottom: -12px;
}
.container-product .add-to-cart-button {
    margin-bottom: 0.7px !important;
}