.container-purchases{
  margin-top: 90px   !important;
  min-height: 30vh;
}
#purchases .card-body {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  width: 69.7%;
}
#purchases .card-purchases {
  margin: 1rem;
}
#purchases .card-body .card-text:nth-child(1) {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#purchases p {
  margin: 0;
}
.card-header {
  background-color: #131921;
  color: #ffffff;
}
#purchases .card-header .card-text{
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 69.7%;
  padding: 0 10px 0 0;
}
#purchases .card-header .card-text .time {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#purchases .day {
  padding-right: 10px;
}
#purchases .button-details {
  position: absolute;
  right: 16px;
  top: 29px;
  transform: translateY(50%);
}
/* Filtrado de las compras */
.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 16px;
}
.select-month .select__control, 
.select-year .select__control {
  background-color: #131921; 
  width: 150px;
  border: none;
  box-shadow: none;
}
.select-month .select__single-value, 
.select-year .select__single-value {
  color: #ffffff; 
}
.select-month .select__menu, 
.select-year .select__menu {
  background-color: #131921; 
  color: #ffffff;
}
.select-month .select__option, 
.select-year .select__option {
  background-color: #131921; 
  color: #ffffff;
  padding: 2px 12px;
}
.select-month .select__option--is-selected, 
.select-year .select__option--is-selected {
  background-color: none; 
  color: #ffffff;
}
.select-month .select__option--is-focused:hover,
.select-year .select__option--is-focused:hover {
  background-color: #5958585d; 
}
.container-purchases .no-purchases-found {
  margin-top: 20px !important;
  font-size: 20px;
}

@media (max-width: 1200px){
  #purchases .card-header .card-text .time {
    width: 200px;
  }
  #purchases .card-body .card-text:nth-child(1) {
    width: 200px;
  }
}
@media (max-width: 992px){
  #purchases .card-header .card-text .time {
    width: 140px;
  }
  #purchases .card-body .card-text:nth-child(1) {
    width: 140px;
  }
}

@media (max-width: 768px){
  #purchases .card-header .card-text .time {
    width: 120px;
  }
  #purchases .card-body .card-text:nth-child(1) {
    width: 120px;
  }
  span{
    font-size: 13px;
  }
  .card-text{
    font-size: 14px;
  }
  .button-details{
    font-size: 10px;
  }
}

@media (max-width: 450px){
  #purchases .card-header .card-text .time {
    width: 100px;
  }
  #purchases .card-body .card-text:nth-child(1) {
    width: 100px;
  }
  .select-month .select__control, 
  .select-year .select__control {
    width: 120px;
  } 
  .container-purchases .no-purchases-found {
    font-size: 15px;
  }
}